<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865205219140-351afj3pb3jghlnttbm9qk4ifjrvsnt7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865205219140-351afj3pb3jghlnttbm9qk4ifjrvsnt7</string>
	<key>API_KEY</key>
	<string>AIzaSyBzPkkTkk2hzh3KD_NWQpnnDXuh7D-2ek0</string>
	<key>GCM_SENDER_ID</key>
	<string>865205219140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appfood2</string>
	<key>PROJECT_ID</key>
	<string>app-food-60480</string>
	<key>STORAGE_BUCKET</key>
	<string>app-food-60480.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865205219140:ios:84a1a33098d39bf6e6f111</string>
</dict>
</plist>